.testimonials {
  display: flex;
  padding: 0 3rem;
  padding-top: 8rem;
  padding-bottom: 15rem;
  background-color: var(--primary-dark-blue-main);
  gap: 3rem;
  justify-content: center;
  flex-direction: column;
}



.testimonial {
  background-color: var(--primary-dark-blue-testimonials);
  padding: 1.5rem;
  padding-top: 2rem;
  font-family: var(--font-secondary);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 1;
}

.testimonial p {
  width: 21rem;
}

.testimonial img {
  border-radius: 50%;
}

.testimonial__profile {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.testimonial--quote {
  position: absolute;
  background-image: url(../../images/bg-quotes.png);
  background-size: contain;
  background-repeat: no-repeat;
  top: -30px;
  left: -10px;
  width: 50px;
  height: 50px;
  z-index: 0;
}

.testimonials__elements {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media (min-width:768px) {
  .testimonials__elements{
    flex-direction: row;
    margin: auto;
  }

}

.testimonial_sub {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-regular);

}

/* .testimonial--quote {
  position: relative;
  background-color: red;
  z-index: 99;
} */

/* .testimonial--quote::before {
  content: '';
  position: absolute;
  background-image: url(../images/bg-quotes.png);
  background-size: contain;
  background-repeat: no-repeat;
  top: -30px;
  left: -10px;
  width: 50px;
  height: 50px;
  z-index: 100;
  background-color: green;
} */